<div class="margin_top_20">
    <p>
    {{ user.last_seen.day or 2019 }}号，{{ user.last_seen.month or 1}}月{{ user.last_seen.day or 1}}号。{{ user.last_seen.year or 2019 }}年{{ user.last_seen.month or 1}}月{{ user.last_seen.day or 1 }}号{{ user.last_seen.hour or 13 }}点之前的一分钟你和我在一起，因为你我会记住这一分钟。<br><br>从现在开始我们就是一分钟的朋友，这是事实，你改变不了，因为已经过去了。我明天会再来。<br><br>
我不知道他有没有因为我而记住那一分钟，但我一直都记住这个人。之后他真的每天都来，我们就从一分钟的朋友变成两分钟的朋友，没多久，我们每天至少见一个小时。<br><br>
我以前以为一分钟很快就会过去，其实是可以很长的。有一天有个人指着手表跟我说，他说会因为那一分钟而永远记住我，那时候我觉得很动听……但现在我看着时钟，我就告诉自己，我要从这一分钟开始忘掉这个人。<br><br>
我听别人说这世界上有一种鸟是没有脚的，它只能够一直的飞呀飞呀，飞累了就在风里面睡觉，这种鸟一辈子只能下地一次，那一次就是它死亡的时候。<br><br>
为什么要迁就我呢？迁就得一时，迁就不了一辈子，你和我在一起是不会快乐的。<br><br>
我终于来到亲生母亲的家了，但是她不肯见我，佣人说她已经不住这里了。当我离开这房子的时候，我知道身后有一双眼睛盯着我，但我是一定不会回头的。我只不过想见见她，看看她的样子，既然她不给我机会，我也一定不会给她机会。<br><br>
以前我以为有一种鸟一开始就会飞，飞到死亡的那一天才落地。其实它什么地方也没去过，那鸟一开始就已经死了。我曾经说过不到最后一刻我也不会知道最喜欢的女人是谁，不知道她现在在干什么呢？天开始亮了，今天的天气看上去不错，不知道今天的日落会是怎么样的呢？<br><br>
    </p>
</div>