<div class="margin_top_10">
    <table class="table table-hover">
        <thead>
        <tr>
            <th><span class="glyphicon glyphicon-file"></span>文章名</th>
            <th><span class="glyphicon glyphicon-thumbs-up"></span>点赞数</th>
            <th><span class="glyphicon glyphicon-comment"></span>评论数</th>
            <th><span class="glyphicon glyphicon-time"></span>发表时间</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>一部关于糖的电影That.Sugar.Film</td>
            <td>3800</td>
            <td>524</td>
            <td>2019-03-08</td>
            <td>
                <a href="#"><span class="glyphicon glyphicon-pencil"></span>修改</a>
                <a href="#"><span class="glyphicon glyphicon-trash"></span>删除</a>
            </td>
        </tr>
        <tr>
            <td>一部关于糖的电影That.Sugar.Film</td>
            <td>3800</td>
            <td>524</td>
            <td>2019-03-08</td>
            <td>
                <a href="#"><span class="glyphicon glyphicon-pencil"></span>修改</a>
                <a href="#"><span class="glyphicon glyphicon-trash"></span>删除</a>
            </td>
        </tr>
        <tr>
            <td>一部关于糖的电影That.Sugar.Film</td>
            <td>3800</td>
            <td>524</td>
            <td>2019-03-08</td>
            <td>
                <a href="#"><span class="glyphicon glyphicon-pencil"></span>修改</a>
                <a href="#"><span class="glyphicon glyphicon-trash"></span>删除</a>
            </td>
        </tr>
        <tr>
            <td>一部关于糖的电影That.Sugar.Film</td>
            <td>3800</td>
            <td>524</td>
            <td>2019-03-08</td>
            <td>
                <a href="#"><span class="glyphicon glyphicon-pencil"></span>修改</a>
                <a href="#"><span class="glyphicon glyphicon-trash"></span>删除</a>
            </td>
        </tr>
        <tr>
            <td>一部关于糖的电影That.Sugar.Film</td>
            <td>3800</td>
            <td>524</td>
            <td>2019-03-08</td>
            <td>
                <a href="#"><span class="glyphicon glyphicon-pencil"></span>修改</a>
                <a href="#"><span class="glyphicon glyphicon-trash"></span>删除</a>
            </td>
        </tr>
        <tr>
            <td>一部关于糖的电影That.Sugar.Film</td>
            <td>3800</td>
            <td>524</td>
            <td>2019-03-08</td>
            <td>
                <a href="#"><span class="glyphicon glyphicon-pencil"></span>修改</a>
                <a href="#"><span class="glyphicon glyphicon-trash"></span>删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>