{% from 'baseform/_pagination.html' import quick_pagination %}

<div class="margin_top_10">
    <table class="table table-hover">
        <thead>
        <tr>
            <th><span class="glyphicon glyphicon-file"></span>文章名</th>
            <th><span class="glyphicon glyphicon-thumbs-up"></span>点赞数</th>
            <th><span class="glyphicon glyphicon-comment"></span>评论数</th>
            <th><span class="glyphicon glyphicon-time"></span>发表时间</th>
            <th><span class="glyphicon glyphicon-expand">当前状态</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr id="{{ post.id }}">
                <td>{{ post.title }}</td>
                <td>{{ post.view_nums }}</td>
                <td>{{ post.view_nums }}</td>
                <td>{{ moment(post.created_at).format('L') }}</td>
                <td>{{ post.status }}</td>
                <td>
                    <a href="{{ url_for('main.edit_post', id=post.id) }}"><span class="glyphicon glyphicon-pencil"></span>修改</a>
                    <a href="#" class="delete"><span class="glyphicon glyphicon-trash"></span>删除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{{ quick_pagination(pagination, 'profile.post', id=user.id) }}