{% macro quick_comment(comment) %}
    <a href="{{ url_for('profile.overview', id=comment.user.id) }}"><img src="{{ comment.user.gravatar(size=40) }}"></a>
    <div id= '{{ comment.id }}' class="comment">
        <div>
            <a href="{{ url_for('profile.overview', id=comment.user.id) }}"><span class="comment-username">{{ comment.user.username }}</span></a>
            <span>{{ comment.created_at }}</span>
            <span class="reply">回复</span>
        </div>
        <p>{{ comment.content }}</p>
        {% if comment.replies %}
        {% for child_comment in comment.replies %}
            {{ quick_comment(child_comment) }}
        {% endfor %}
    {% endif %}
    </div>
{% endmacro %}


<div class="comments">
    <div>
        <h1>评论区</h1>
    </div>
    <div>
        {% for comment in post.first_level_comments %}
            {{ quick_comment(comment) }}
        {% endfor %}
        <div id="comment-content" class="input-group">
                <input id='comment-input' type="text" class="form-control" placeholder="请输入评论...">
                <span class="input-group-btn">
                    <button id='send-content' class="btn btn-default" type="button" onclick="send_comment()">发送评论!</button>
                </span>
        </div>
    </div>
</div>