<div class="panel panel-default panel-margin">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list"></span>文章分类
    </div>
    <div class="panel-body bg">
        <ul class="list-group bg">
            {% for tag in tags %}
                <a href="{{ url_for('main.classifytag', name=tag[0]) }}">
                    <li class="list-group-item" >
                        <span class="badge">{{ tag[1] }}</span>
                        {{ tag[0] }}
                    </li>
                </a>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="panel panel-default panel-margin">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list"></span>友情链接
    </div>
    <div class="panel-body bg">
        <ul class="list-group bg">
            <li class="list-group-item">
                友情位，可PY
            </li>
            <li class="list-group-item">
                友情位，可PY
            </li>
            <li class="list-group-item">
                友情位，可PY
            </li>
            <li class="list-group-item">
                友情位，可PY
            </li>
            <li class="list-group-item">
                友情位，可PY
            </li>
        </ul>
    </div>
</div>