<div class="panel panel-default panel-margin">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list"></span>文章分类
    </div>
    <div class="panel-body bg">
        <ul class="list-group bg">
            <li class="list-group-item">
                <span class="badge">14</span>
                <a href="article-class.html">PAT乙级题解</a>
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                <a href="article-class.html">PAT甲级题解</a>
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                <a href="article-class.html">Programming Language</a>
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                <a href="article-class.html">Python</a>
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                <a href="article-class.html">Machine Learning</a>
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                <a href="article-class.html">OpenCV</a>
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                <a href="article-class.html">Linux</a>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default panel-margin">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list"></span>文章归档
    </div>
    <div class="panel-body bg">
        <ul class="list-group bg">
            <li class="list-group-item">
                <span class="badge">14</span>
                2017年 1月-6月
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                2017年 7月-12月
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                2018年 1月-6月
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                2018年 7月-12月
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                2019年 1月-6月
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default panel-margin">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list"></span>友情链接
    </div>
    <div class="panel-body bg">
        <ul class="list-group bg">
            <li class="list-group-item">
                <span class="badge">14</span>
                2017年 1月-6月
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                2017年 7月-12月
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                2018年 1月-6月
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                2018年 7月-12月
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                2019年 1月-6月
            </li>
        </ul>
    </div>
</div>