{% import 'baseform/_pagination.html' as wtf %}

{% if now_tag %}
    <div id="sort-bar'">
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <button type="button" class="btn btn-sort">
                <a href="{{ url_for('main.index') }}">
                    <span class="glyphicon glyphicon-file"></span>
                    <span class="font_14">当前分类: {{ now_tag.name }}</span>
                </a>
            </button>
        </div>
    </div>
{% else %}
    <div id="sort-bar">
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <button type="button" class="btn btn-sort">
                <a href="{{ url_for('main.index') }}">
                    <span class="glyphicon glyphicon-sort"></span>
                    <span class="font_14">按时间排序</span>
                </a>
            </button>
            <button type="button" class="btn btn-sort">
                <a href="{{ url_for('main.index', order_by='hottest') }}">
                    <span class="glyphicon glyphicon glyphicon-fire"></span>
                    <span class="font_14">按热度排序</span>
                </a>
            </button>
        </div>
    </div>
{% endif %}
<div class="content">
    {% for post in posts %}
    <div class="article">
        <a href="{{ url_for('main.post', id=post.id) }}">
            <h1>{{ post.title }}</h1>
        </a>
        <div class="article-tag">
            {% for tag in post.articletags %}
                <span class="label {{ ['label-default', 'label-primary', 'label-success', 'label-info', 'label-warning', 'label-danger'] | random }}">{{ tag.name }}</span>
            {% endfor %}
        </div>
        <p>{{ post.summary }}</p>
        <div class="article-bottom">
            <a href="{{ url_for('profile.overview', id=post.user.id) }}">
                <span class="user_image_wrap span">
                    <img class='user_image' src="{{ post.user.gravatar(size=14) }}"/>
                </span>{{ post.user.username }}
            </a>
            <span class="glyphicon glyphicon-calendar span"></span>{{ moment(post.created_at).format('L') }}
            <span class="glyphicon glyphicon-eye-open span"></span>{{ post.view_nums }}
            <span class="glyphicon glyphicon-comment span"></span>{{ post.comments.count() }}
        </div>
    </div>
    {% endfor %}
    {{ wtf.quick_pagination(pagination, 'main.index', order_by=order_by) }}
</div>