{% extends "baseform/base.html" %}

{% block title %}主页{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-8">
            <div id="sort-bar">
                <div class="btn-group btn-group-sm" role="group" aria-label="...">
                    <button type="button" class="btn btn-sort"><span class="glyphicon glyphicon-sort"></span>按时间排序
                    </button>
                    <button type="button" class="btn btn-sort"><span class="glyphicon glyphicon glyphicon-fire"></span>按时间排序
                    </button>
                </div>
            </div>
            <div class="content">
                <div class="article">
                    <a href="#">
                        <h1>安装 Scrapy 失败的正确解决方法及运行中报错的解决思路</h1>
                    </a>
                    <p>由于前段时间电脑报废了，所以最近换了个新电脑，于是重新安装了很多常用的软件，Python 大法就不用说了，当然是在电脑到来的第一天就安装了。今天想写一个爬虫，又不想麻烦，于是想到了用
                        scrapy，这个爬虫框架好久没用了，新电脑也没有安装，于是在重新安装的时候遇到了一些问题，本文就来记录一下遇到的问题和解决的方式。</p>
                    <span class="glyphicon glyphicon-calendar"></span>2天前
                    <span class="glyphicon glyphicon-book"></span>Docker
                    <span class="glyphicon glyphicon-eye-open"></span>965000
                    <span class="glyphicon glyphicon-comment"></span>120
                </div>
                <div class="article">
                    <a href="#">
                        <h1>安装 Scrapy 失败的正确解决方法及运行中报错的解决思路</h1>
                    </a>
                    <p>由于前段时间电脑报废了，所以最近换了个新电脑，于是重新安装了很多常用的软件，Python 大法就不用说了，当然是在电脑到来的第一天就安装了。今天想写一个爬虫，又不想麻烦，于是想到了用
                        scrapy，这个爬虫框架好久没用了，新电脑也没有安装，于是在重新安装的时候遇到了一些问题，本文就来记录一下遇到的问题和解决的方式。</p>
                    <span class="glyphicon glyphicon-calendar"></span>2天前
                    <span class="glyphicon glyphicon-book"></span>Docker
                    <span class="glyphicon glyphicon-eye-open"></span>965000
                    <span class="glyphicon glyphicon-comment"></span>120
                </div>
                <div class="article">
                    <a href="#">
                        <h1>安装 Scrapy 失败的正确解决方法及运行中报错的解决思路</h1>
                    </a>
                    <p>由于前段时间电脑报废了，所以最近换了个新电脑，于是重新安装了很多常用的软件，Python 大法就不用说了，当然是在电脑到来的第一天就安装了。今天想写一个爬虫，又不想麻烦，于是想到了用
                        scrapy，这个爬虫框架好久没用了，新电脑也没有安装，于是在重新安装的时候遇到了一些问题，本文就来记录一下遇到的问题和解决的方式。</p>
                    <span class="glyphicon glyphicon-calendar"></span>2天前
                    <span class="glyphicon glyphicon-book"></span>Docker
                    <span class="glyphicon glyphicon-eye-open"></span>965000
                    <span class="glyphicon glyphicon-comment"></span>120
                </div>
                <div class="article">
                    <a href="#">
                        <h1>安装 Scrapy 失败的正确解决方法及运行中报错的解决思路</h1>
                    </a>
                    <p>由于前段时间电脑报废了，所以最近换了个新电脑，于是重新安装了很多常用的软件，Python 大法就不用说了，当然是在电脑到来的第一天就安装了。今天想写一个爬虫，又不想麻烦，于是想到了用
                        scrapy，这个爬虫框架好久没用了，新电脑也没有安装，于是在重新安装的时候遇到了一些问题，本文就来记录一下遇到的问题和解决的方式。</p>
                    <span class="glyphicon glyphicon-calendar"></span>2天前
                    <span class="glyphicon glyphicon-book"></span>Docker
                    <span class="glyphicon glyphicon-eye-open"></span>965000
                    <span class="glyphicon glyphicon-comment"></span>120
                </div>
                <div class="article">
                    <a href="#">
                        <h1>安装 Scrapy 失败的正确解决方法及运行中报错的解决思路</h1>
                    </a>
                    <p>由于前段时间电脑报废了，所以最近换了个新电脑，于是重新安装了很多常用的软件，Python 大法就不用说了，当然是在电脑到来的第一天就安装了。今天想写一个爬虫，又不想麻烦，于是想到了用
                        scrapy，这个爬虫框架好久没用了，新电脑也没有安装，于是在重新安装的时候遇到了一些问题，本文就来记录一下遇到的问题和解决的方式。</p>
                    <span class="glyphicon glyphicon-calendar"></span>2天前
                    <span class="glyphicon glyphicon-book"></span>Docker
                    <span class="glyphicon glyphicon-eye-open"></span>965000
                    <span class="glyphicon glyphicon-comment"></span>120
                </div>
                <div class="article">
                    <a href="#">
                        <h1>安装 Scrapy 失败的正确解决方法及运行中报错的解决思路</h1>
                    </a>
                    <p>由于前段时间电脑报废了，所以最近换了个新电脑，于是重新安装了很多常用的软件，Python 大法就不用说了，当然是在电脑到来的第一天就安装了。今天想写一个爬虫，又不想麻烦，于是想到了用
                        scrapy，这个爬虫框架好久没用了，新电脑也没有安装，于是在重新安装的时候遇到了一些问题，本文就来记录一下遇到的问题和解决的方式。</p>
                    <span class="glyphicon glyphicon-calendar"></span>2天前
                    <span class="glyphicon glyphicon-book"></span>Docker
                    <span class="glyphicon glyphicon-eye-open"></span>965000
                    <span class="glyphicon glyphicon-comment"></span>120
                </div>
                <div class="article">
                    <a href="#">
                        <h1>安装 Scrapy 失败的正确解决方法及运行中报错的解决思路</h1>
                    </a>
                    <p>由于前段时间电脑报废了，所以最近换了个新电脑，于是重新安装了很多常用的软件，Python 大法就不用说了，当然是在电脑到来的第一天就安装了。今天想写一个爬虫，又不想麻烦，于是想到了用
                        scrapy，这个爬虫框架好久没用了，新电脑也没有安装，于是在重新安装的时候遇到了一些问题，本文就来记录一下遇到的问题和解决的方式。</p>
                    <span class="glyphicon glyphicon-calendar"></span>2天前
                    <span class="glyphicon glyphicon-book"></span>Docker
                    <span class="glyphicon glyphicon-eye-open"></span>965000
                    <span class="glyphicon glyphicon-comment"></span>120
                </div>
                <nav aria-label="Page navigation" style="text-align: center;">
                    <ul id = "pagination" class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default panel-margin">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list"></span>文章分类
                </div>
                <div class="panel-body bg">
                    <ul class="list-group bg">
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            <a href="article-class.html">PAT乙级题解</a>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            <a href="article-class.html">PAT甲级题解</a>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            <a href="article-class.html">Programming Language</a>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            <a href="article-class.html">Python</a>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            <a href="article-class.html">Machine Learning</a>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            <a href="article-class.html">OpenCV</a>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            <a href="article-class.html">Linux</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default panel-margin">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list"></span>文章归档
                </div>
                <div class="panel-body bg">
                    <ul class="list-group bg">
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            2017年 1月-6月
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            2017年 7月-12月
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            2018年 1月-6月
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            2018年 7月-12月
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            2019年 1月-6月
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default panel-margin">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list"></span>友情链接
                </div>
                <div class="panel-body bg">
                    <ul class="list-group bg">
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            2017年 1月-6月
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            2017年 7月-12月
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            2018年 1月-6月
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            2018年 7月-12月
                        </li>
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            2019年 1月-6月
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}