{% extends "baseform/base.html" %}

{% block title %}首页{% endblock %}

{% block left_part %}
    <div class="center-block">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">总览</a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>
{% endblock %}

{% block right_part %}
    <ul class="list-group">
      <li class="list-group-item">
          <img src="https://avatars1.githubusercontent.com/u/18329317?s=40&v=4">
      </li>
      <li class="list-group-item">
          <h2>{{ user.username }}</h2>
      </li>
      <li class="list-group-item">
          <p>{{ user.about_me }}</p>
      </li>
      <li class="list-group-item">
          <span class="glyphicon glyphicon-envelope"></span>
          <a href="{{ user.email_url }}"></a>
      </li>
      <li class="list-group-item">
          <span class="glyphicon glyphicon-globe"></span>
          <a href="{{ user.location_url }}"></a>
      </li>
    </ul>
{% endblock %}